.uname{
    background-color: rgb(185, 240, 240);
    height : 100vh;
    width : 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

}

.uname label{
    font-size : 2rem;
    color:red;
}
.uname input{
    width : 40vw;
    height : 7vh;
    border-radius : 3rem;

}

.uname button{
    height : 7vh;
    width : 20vw;
    border-radius: 5rem;
    background-color : purple;
    transition: all 0.2s;
    cursor: pointer;

}
.uname button:hover{
    transform : scale(1.2);
    

}
